.chat-screen {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--color); */
}

.chat-screen .header {
  border-left: 1px solid var(--light-border);
  background-color: var(--header-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.2rem 0.5rem;
  height: 2.5rem;
  /* flex: 1; */
}

.header .title {
  font-weight: 500;
}

.header .meta {
  font-weight: 200;
  font-size: 0.8rem;
  /* metadata e.g. "chat last active x days ago" */
}

.chat-view {
  flex: 1;
  display: flex;
  padding: 0.7rem 1.5rem;
  flex-direction: column;
}

.chat-view li {
  /* outer box of a message - no background */
  display: flex;
  padding: 0.2rem 0.2rem;
  margin-top: 0.3rem;
}

.chat-view li.sequential {
  margin-top: 0;
  padding-top: 0;
}
.sequential .user-name {
  /* do not show username more than once */
  display: none;
}

.message {
  /* inner box of a message - the bubble */
  padding: 0.4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  min-width: 10%;
  max-width: 70%;
  border-radius: 0.4rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.current-user {
  justify-content: flex-end;
}
.other-user {
  justify-content: flex-start;
}
.current-user .message {
  background-color: var(--current-user);
  color: var(--current-user-text);
}
.other-user .message {
  background-color: var(--other-user);
  color: var(--other-user-text);
}

.user-name {
  font-weight: 400;
}

.message .meta {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.message .meta .non-timestamp {
  font-family: monospace;
  font-size: 0.6rem;
  flex: 1;
}

.message .meta .timestamp {
  /* font-family: monospace; */
  /* flex: 0; */
  /* position: absolute; */
  /* right: 0; */
  font-size: 0.6rem;
}

.message-input-form {
  min-height: 4rem;
  /* flex: 1; */
  /* font-size: 1rem; */
  display: flex;
}

.message-input {
  resize: none;
  height: 90%;
  font-size: 1.1rem;
  flex: 1;
}
