.chat-screen {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--color); */
}

.chat-screen .header {
  border-left: 1px solid var(--light-border);
  background-color: var(--header-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.2rem 0.5rem;
  height: 2.5rem;
  /* flex: 1; */
}

.header .title {
  font-weight: 500;
}

.header .meta {
  font-weight: 200;
  font-size: 0.8rem;
  /* metadata e.g. "chat last active x days ago" */
}

.chat-view-box {
  flex: 1;
  overflow: scroll;
  position: relative;
}

.chat-view {
  position: absolute;
  overflow: scroll;
  bottom: 0;
  right: 0;
  flex: 1;
  height: 100%;
  width: 90%;
  display: flex;
  padding: 0.7rem 1.5rem;
  flex-direction: column-reverse;
}

.chat-view li {
  /* outer box of a message - no background */
  display: flex;
  padding: 0.2rem 0.2rem;
  margin-top: 0.3rem;
}

.chat-view li.sequential {
  margin-top: 0;
  padding-top: 0;
}
.sequential .user-name {
  /* do not show username more than once */
  display: none;
}

.message {
  /* inner box of a message - the bubble */
  padding: 0.4rem 0.4rem 1rem 0.4rem;
  padding-right: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 10%;
  max-width: 70%;
  border-radius: 0.4rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.current-user {
  justify-content: flex-end;
}
.other-user {
  justify-content: flex-start;
}
.current-user .message {
  /* extra .5rem padding for receipt area */
  padding-bottom: 1.5rem;
  background-color: var(--current-user);
  color: var(--current-user-text);
}
.other-user .message {
  background-color: var(--other-user);
  color: var(--other-user-text);
}

.user-name {
  font-weight: 400;
}

.message .meta {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.message .meta .non-timestamp {
  font-family: monospace;
  font-size: 0.6rem;
  flex: 1;
}

.timestamp {
  position: absolute;
  right: 0.5rem;
  bottom: 0.3rem;
  font-size: 0.6rem;
}

.current-user .timestamp {
  /* Extra rem for receipt info */
  bottom: 0.6rem;
}

.message-input-form {
  min-height: 4rem;
  /* flex: 1; */
  /* font-size: 1rem; */
  display: flex;
}

.message-input {
  resize: none;
  height: 90%;
  font-size: 1.1rem;
  flex: 1;
}

.receipt-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
}
.other-user .receipt-overlay {
  display: none;
}
.receipt-watcher {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  transition: height 100ms ease;
  left: 0px;
}
.no-receipt {
  background: repeating-linear-gradient(
    -65deg,
    var(--transaction-no-receipt) 0px,
    var(--transaction-no-receipt) 1rem,
    RGBA(255, 255, 255, 0) 0px,
    RGBA(255, 255, 255, 0) 1.5rem
  );
  flex: 1;
}
.has-receipt {
  background-color: var(--transaction-has-receipt);
  flex: 1;
}
.transaction-success {
  background-color: var(--transaction-success);
  flex: 1;
}
.transaction-failure {
  background-color: var(--transaction-failure);
  flex: 1;
}
.transaction-not-part-of-session {
  display: none;
}

.receipt-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 50ms, opacity 50ms ease;
  font-size: 0.6rem;
  background-color: var(--header-background);
  margin: 0.2rem;
  padding: 0.15rem;
  width: auto;
  height: 100%;
  border-radius: 0.2rem;
  color: var(--color);
}

.receipt-overlay:hover {
  height: 100%;
}
.receipt-overlay:hover .receipt-watcher {
  height: 90%;
  transition: height 100ms ease;
  /*  */
}

.receipt-overlay:hover .receipt-info {
  visibility: visible;
  opacity: 1;
  transition: visibility 50ms, opacity 50ms ease;
}
