.menu-bar {
  background-color: var(--header-background);
  display: flex;
  padding: 0.2rem 0.5rem;
  height: 2.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.menu-bar a {
  display: flex;
}
