:root {
  color-scheme: light dark;
}

.light {
  --color: #111;
  --background: #ddd;
  --subsection-background: #eee;
  --highlight: #4a9;
  --link: #000;
  --link-visted: #636;
  --nav-background: #ddd;
  --header-background: rgb(230, 230, 230);
  --light-border: #ccc;
  --nav-box-shadow: #2d006d;
  --current-user: hsl(200, 91%, 91%);
  --current-user-text: #111;
  --other-user: hsl(200, 99%, 99%);
  --other-user-text: #111;
  --debug-color: #fff;
  --debug-live-info-color: #00ff00;
  --debug-background-color: #000;
  --transaction-no-receipt: hsl(45, 80%, 60%);
  --transaction-has-receipt: hsl(45, 80%, 60%);
  --transaction-success: hsl(120, 50%, 60%);
  --transaction-failure: hsl(0, 80%, 50%);
}
.dark {
  --color: #cecece;
  --background: #333;
  --subsection-background: #484848;
  --highlight: #969;
  --link: #cecece;
  --link-visted: #636;
  --nav-background: #202020;
  --header-background: #3f3f3f;
  --light-border: #262626;
  --nav-box-shadow: #2d006d;
  --current-user: hsl(200, 78%, 78%);
  --current-user-text: #111;
  --other-user: hsl(210, 1%, 30%);
  --other-user-text: #cecece;
  --debug-color: #000;
  --debug-live-info-color: #088108;
  --debug-background-color: #eee;
  --transaction-no-receipt: hsl(45, 80%, 60%);
  --transaction-has-receipt: hsl(45, 80%, 60%);
  --transaction-success: hsl(120, 50%, 60%);
  --transaction-failure: hsl(0, 80%, 50%);
}
html,
body,
#root {
  color: var(--color);
  background: var(--background);
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  flex-direction: column-reverse;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
}

* {
  /* padding: 0.2rem; */
  margin: 0;
  font-family: "Karla", "Courier New", Courier, monospace;
  font-weight: 200;

  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.mono {
  font-family: "Red Hat Mono", "Courier New", Courier, monospace;
  font-size: 0.85rem;
  padding: 0.1rem 0px;
  margin: 0;
  display: inline-block;
}

h1 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

a:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
  text-shadow: 0.2px 0.2px 0.2px var(--highlight);
}

h1 {
  animation: slideInFromTop 1s;
  -moz-animation: slideInFromTop 1s; /* Firefox */
  -webkit-animation: slideInFromTop 1s; /* Safari and Chrome */
  -o-animation: slideInFromTop 1s; /* Opera */
}

ul {
  padding: 0;
  list-style: none;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 880px) {
  /* .container {
    TODO: re-add this?
    width: 72rem;
  } */
}

a {
  padding: 0px;
}
a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:active {
  color: var(--highlight);
  text-decoration-color: var(--highlight);
  text-shadow: 0.5px 0.5px 0.5px var(--highlight);
}
