# Backup, but still useful
name: Build and Deploy to Github Pages
on: 
  push:
    branches:
      - main
jobs:
  github-deploy-action:
    name: Github-Deploy-Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install and Build
        run: |
          npm ci
          npm run build-pages

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: build # The branch the action should deploy to.
          folder: build # The folder the action should deploy.
